*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
head,nav,main,footer,h1{
    width: 100%;
    background-color: #D9B779;
    color: #3F528C;
    padding: 50px;
}
nav{
    background-color:#F2F2F0;
}
main{
    background-color: #939EBF;
    height: auto;
}
footer{
    height: 50px;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    width: 7%;
    list-style-type: none;
    background-color: #6878A6;
    color: #F2F2F0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 30px;
}
nav ul li:hover{
    background-color: #3F528C;
    width: 10%;
 }
nav ul li a:hover{
color:#D9B779;
}
nav ul li a{
    text-decoration: none;
}
section{
    width: 70%;
    background-color:#3F528C;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    color:#D9B779;
}
h1,h6{
    text-align: center;
    font-size: 48px;
}
footer h6{
    font-size: 18px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
}
form{
    min-width: 400px;
    width: 50%;
    background-color: #D9B779;
    padding: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
    color: #3F528C;
}
input[type=text], select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #3F528C;
    border-radius: 10px;
    background-color: #F2F2F0;
    border-style: solid;
    border-width: 3px;
    border-color: #6878A6;
}
input[type=text]:focus, select:focus{
    background-color: #939EBF;
    color: #F2F2F0;
}
label{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
}
input[type=submit]{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: #3F528C;
    color: #F2F2F0;
    font-weight:bold;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: #939EBF;
    display: block;
}
 .icono {
    width: 30px; /* Tamaño pequeño para el icono */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que el icono se muestre como un bloque */
    margin: 10px auto 0; /* Centra la imagen y agrega un espacio encima */
}
